html, body, footer, header, section, div, h3, a, ul, li, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
  padding: 4px 15px 4px;
}

.header {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

.header span {
  margin-left: 1em;
  margin-right: 1em;
}

.header .title {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}

.header button, .float-section-signup button{
  display: inline-block;
  cursor: pointer;
  color: white;
  margin-right: 7px;
  padding: 8px 8px 6px;
  border: 1px solid #326891 ;
  border-radius: 3px;
  background-color: #6288a5;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
}

.header button:hover {
  background-color: #326891;
}

/* ***********FLOAT CONTENT ***************/

.float-section {
    width: 210px;
    position: absolute;
    right: 0;
    margin-top: 1480px;
    margin-right: 90px;
}

 .image-text,.image-text:hover{
    color: dimgray;
    font-size: 0.85rem;
    float: left;
	display: flex;
 }

.float-section-signup{
    width: 180px;
    position: absolute;
    right: 0;
    margin-top: 2345px;
    margin-right: 120px;
}

.float-section-signup button{
    width: 180px;
    height: 32px;
}


.signup-text{
    color: #888;
    font-size: 0.82rem;
}
 .float-section img{
    width: 60px;
    height: 60px;
    display: block;
    margin-bottom: 8px;
 }


/*  MAIN CONTENT */

div .main-content{
    margin-top: 1px;
}

.main-content h2 {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 600;
  font-style: italic;

  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
}

.photo {
  display: block;
  width: 55%;
  margin: auto;
}

.photo img {
  display: block;
  width: 100%;
  margin: auto;
}

.photo .caption {
  display: inline;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.photo .credit {
  display: inline;
  color: #888;
  font-size: 0.75rem;
}

/* GRID ARTICLES */
.articles {
	display: flex;
	flex-direction: row;
	width: 56%;
	margin: auto;
}

.more, .picks, .popular {
	padding-top: 1em;
	padding-bottom: 1em;
	/*border-top: 2px solid black;*/
}

.articles .more-picks {
	width: 75%;
	margin-right: 1em;
}

.articles .popular {
	width: 25%;
	margin-left: 1em;
}

.more-articles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.more > h2, .picks > h2, .popular > h2 {
    font-size: 1rem;
    padding: 17px 20px 15px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    border-top: 1px solid #000;
    padding-right: 0;
    padding-left: 0;
}

.more-articles .article {
	width: 250px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.more .img, .picks .img {
	width: 100%;
	height: 182px;
	display: block;
}

.more .img-title, .picks .img-title {
  padding-bottom: 4px;
	font-size: 10px;
	text-align: right;
  color: rgb(153, 153, 153);
  line-height: 1.23em;
}

.infos .title, .picks .title {
  color: #121212;;
	font-size: 18px;
  line-height: 22px;
	font-family: nyt-cheltenham;
  font-weight: 500;
}

.infos .date, .picks .date {
	letter-spacing: .3px;
  color: #999;
	font-size: .75rem;
}

div.more ul, div.picks ul {
	-webkit-column-count: 3;
  -moz-column-count: 3;
	column-count: 3;
	list-style: none;
}

div.more ul li, div.picks ul li {
	height: 300px;
}

div.popular ul {
	list-style: none;
	margin-top: 15px;
}

div.popular ul li {
	border-top: 1px solid rgb(226, 226, 226);
	padding: 15px 0px;
	color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
	font-weight: 600;
  font-size: 1.125rem;
}

/* /********************BODY-CONTENT*****************/
.body-content{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 2em;
}

.video-player {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    width: 100%;
    margin-top: 40px;
}

.para{
    font-size: 1.1875rem;
    line-height: 1.8125rem;
    margin-bottom: 1.25rem;
}
.para a{
    text-decoration: underline;
}

.para-author{
    font-size: 0.80rem;
    margin-top: 1.25rem;
    margin-bottom: 2.20rem;
}

figure{
    margin-top: 20px;
}

figcaption{
    margin-top: 10px;
}

.embed-text1{
    margin-top: 1.40rem;
    font-size: 1.0rem;
}

.embed-text2{
    font-size: 0.80rem;
}
/* /********************FOOTER*****************/


body, footer, header, section{
	display: block;
}
body {
    line-height: 1;
    margin: 10px;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #326891;
}

.shell {
    margin: 0 auto;
    max-width: 1605px;
    border-left: 1px solid #e2e2e2;;
    border-right: 1px solid #e2e2e2;;
    overflow: hidden;
}


.foot-story-link {
    float: right;
    padding: 5px 0;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    font-size: 11px;
}


.page-footer {
    clear: both;
    height: 500px;
    width: 1050px;
    margin: 0 auto;
    overflow: auto;
}

.site-index-container {
    height: 440px;
    margin-top: 25px;
    border-top: 4px double #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 10px;
    overflow: hidden;
}

.site-index-column {
    width: 165px;
    height: 350px;
    margin-top: 25px;
    float: left;
}

.site-index-columns-holder div:nth-child(5) { width: 195px; }

.site-index-columns-holder div:nth-child(6) {
    width: 195px;
    border-left: 1px solid #e2e2e2;
    padding-left: 10px;
}

.column-heading {
    font-size: 12px;
    font-weight: 700;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    padding-bottom: 8px;
}

.column-heading {
    font-size: 12px;
    font-weight: 700;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    padding-bottom: 8px;
}

.index-nav-links li, .subscribe-nav-links li { padding: 4px 0; }

.index-nav-links a {
    color: #000;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    font-size: 13px;
}

.index-nav-links a:hover { text-decoration: underline; }

.subscribe-nav-links a {
    color: #000;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

.subscribe-nav-links li { font-size: 10.5px; }

.subscribe-nav-links li:nth-child(-n+3) {
    padding: 6px 0;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.001em
}

.subscribe-nav-links li:nth-child(3) { margin-bottom: 10px; }

.subscribe-nav-links li:nth-child(8) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.subscribe-nav-links a:hover { text-decoration: underline; }

.subscribe-link-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url(https://a1.nyt.com//assets/article/20171019-154652/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
}

#home-delivery { background-position: -253px -54px; }

#digital-subscriptions { background-position: -119px -276px; }

#crossword { background-position: -375px 0; }

.small-print-footer { padding-top: 10px; }

.corporate-links li {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    font-size: 10.5px;
    border-right: 1px solid #e2e2e2;
    letter-spacing: 0.001em
}

.corporate-links li:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.corporate-links a {
    color: #999;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

.corporate-links a:hover { text-decoration: underline; }

.site-admin-links { float: right; }
